.hero {
    width: 100%;
    height: 700px;
    top: 77px;
    background-image: url('../../asserts/heroimage.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-bottom: 60px;
  }
  
  .hero-content {
    text-align: center;
    
  }
  
  .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 1.2rem;
  }
  
  .text-button-container {
    position: absolute; 
    left: 80px;
    text-align: left;
    width: 630px;
    height: 306px;
    background: linear-gradient(to right,#4DCA79, #1CBDDD);
    padding:  24px 40px 32px 40px;
    
  }
  
  .text {
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
  }
  
  .buttonHero {
    width: auto;
    height: 38px;
    padding: 12px 20px;
    gap: 8px;
    border-radius: 4px;
    background-color: #F28D35;
    border: none;
    box-shadow: none;
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
  }