.navbar {
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6B3CC9;
    padding: 0 40px;
  }
  

  .links a {
    margin-right: 20px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: left;
     text-transform: uppercase;

  }
  
  .links a:last-child {
    margin-right: 28px;
  }

  .logo img {
    
    width: 238px;
    height: 30px;
    margin-left: 28px;
    opacity: 0px;
  
  }

  .menu-icon{
    color: #FFFFFF;
    font-size: 24px;
  }

  .hamburger-menu{
    cursor: pointer;
    display: none;
  }

  .navigation-menu {
    position: absolute; 
    z-index:1000;
    top: 0;
    left: 0;
    width: 100%;
    height: auto; 
    background-color: #FFFFFF;
    padding: 32px;
    display: flex;
  }

  .disabled{
    display: none;
  }

  .active{
    display: block !important;
    padding: 20px !important;
    color: #000000 !important;
  }

  .active a {
    margin-right: 20px;
    text-decoration: none;
    color: #000000;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: left;
    text-transform: uppercase;
    display: block;

  }
  

  @media (max-width: 1440px) {
    .navbar {
      width: 1440px;


    }

    
  }


  @media (max-width: 1200px) {
    .navbar {
      width: 1200px;
   
    }
    
  }

  @media (max-width: 768px) {
    .navbar {
      width: 768px;
    
    }

    
  }

  @media (max-width: 375px) {
    .navbar {
      width: 375px;

    }
   .links{
    display: none;
   }
   .hamburger-menu{
    display: block;
   }

  }